<html ng-app="luxe">
  <head>
    <%= stylesheet_link_tag 'application' %>
    <link href='https://fonts.googleapis.com/css?family=Raleway:200' rel='stylesheet' type='text/css'>
    <link href="https://cdn.rawgit.com/zhaber/datetimepicker/master/datetimepicker.css" type="text/css" rel="stylesheet">

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <link rel="stylesheet" href="css/layouts/marketing.css">

    <%= javascript_include_tag 'application' %>
  </head>
  <body>
  		<div class="page">
  			<%= yield %>
  		</div>

  </body>
</html>
